@tailwind utilities;
/*@import "tailwindcss/preflight"; reset styles*/

@import "tailwindcss";
/*Tailwind VSCode extension Tailwind CSS IntelliSense and Headwind to sort the classes*/

@theme {
  --font-mono: "Roboto Mono", monospace;
}

@layer components {
  .input {
    @apply w-100 rounded-full border border-yellow-600 bg-yellow-100 px-4 py-2 text-sm transition-all duration-300 focus:ring focus:ring-yellow-400 focus:outline-none md:px-6 md:py-3;
  }

  .loader {
    width: 45px;
    aspect-ratio: 0.75;
    --c: no-repeat linear-gradient(#c19d0b 0 0);
    background:
      var(--c) 0% 50%,
      var(--c) 50% 50%,
      var(--c) 100% 50%;
    background-size: 20% 50%;
    animation: loading 1s infinite linear;
  }

  @keyframes loading {
    20% {
      background-position:
        0% 0%,
        50% 50%,
        100% 50%;
    }
    40% {
      background-position:
        0% 100%,
        50% 0%,
        100% 50%;
    }
    60% {
      background-position:
        0% 50%,
        50% 100%,
        100% 0%;
    }
    80% {
      background-position:
        0% 50%,
        50% 50%,
        100% 100%;
    }
  }
}

body {
  font-family: "Roboto Mono", monospace;
}

.h-screen {
  height: 100dvh;
}

/*
Sobre o dvh:
- Se ajusta dinamicamente quando a barra aparece/desaparece
- Evita conteúdo cortado
- Funciona melhor em iOS e Android

*/
